---
layout: default
title: Categories
permalink: /categories.html
---

<h1 class="blog-main-heading">Browse by Category</h1>
<div class="category-index">
  <ul>
    {% assign sorted_categories = site.categories | sort %}
    {% for category in sorted_categories %}
      <li><a href="#{{ category[0] | slugify }}">{{ category[0] }}</a> ({{ category[1].size }})</li>
    {% endfor %}
  </ul>
</div>

<hr>

{% for category in sorted_categories %}
  <h2 id="{{ category[0] | slugify }}">{{ category[0] }}</h2>
  <ul>
    {% for post in category[1] %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="blog-post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
